<%- include header %>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <form method="post">

                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="title">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="tag" placeholder="Tag">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="content" placeholder="Content"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default center-block">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>